.todo-container {
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.todo-container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.todo-container-head h2 {
    margin: 0;
}

.todo-list-save {
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo-list-save:hover {
    background-color: #0056b3;
}

.todo-list-items {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.todo-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.todo-item:last-child {
    border-bottom: none;
}